.Layout {

  overflow: hidden;
  position: relative;
  @screen tablet {
	display: grid;
	grid-template-columns: var(--grid);
	gap: 0 var(--gridGap);
  }
  main {
	@screen tablet {
	  display: grid;
	  grid-column: 1/-1;
	  grid-template-columns: subgrid;
	  align-self: stretch;
	  min-height: 44dvh;
	}
	@supports not (grid-template-columns: subgrid) {
	  grid-template-columns: var(--grid);
	  gap: 0 var(--gridGap);
	}
	//@screen desktop {
	//  padding-bottom: .75rem;
	//}

  }

  //***** no scrollbar

  //@screen desktop {
  //max-height: 100lvh;
  //}
  //
  //&[class*="page-account"] {
  //min-height: calc(100svh - 2.75rem);
  //}

}

.main {
  @media screen and (min-width: 744px) {
	padding: 7.5rem 0;
	> *[class^="Panel"] {
	  grid-column: 1/-1;
	}
  }
  @media screen and (min-width: 1300px) {

	> *[class^="Panel"] {
	  grid-column: 2/-2;
	}
  }
}
