.Card {
	display: revert;
}

.faq {

}

.CardFaq {
  display: block;
  padding: 0;

  h3 {
	text-align: revert;
	font-size: 18px;

	position: relative;

	color: #03414c;
	cursor: pointer;
	letter-spacing: .7px;
	margin: 1.75rem 0;
  }

  ul {
	list-style: revert;
	margin: revert;
	padding: revert;
	padding-left: 1.75rem;
  }

  li {
	&::marker {

	}

	margin: revert;
	padding: revert;
  }
  &[data-open="false"] {
    header + div {
      max-height: 0;
      height: 100%;
      overflow: hidden;
    }

  }
  &[data-open="true"] {

  }
}

.cardfaqheader {
  cursor: pointer;
  display: flex;
  border-bottom: solid 2px #03414c;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0 !important;


}
.CardContacts {
  background: rgba(173, 216, 204, 0.31);
	display: grid;
  	& * {
	  margin: 0 !important;
	  text-align: initial !important;
	}
  	grid-template-columns: 1fr 4rem;
  grid-template-rows: 1fr 1fr;
  [data-variant="icon"] {
	grid-row: 1/3;
	display: flex;
	object-position: center center;
	align-items: center;
	justify-content: center;
	background-color: var(--fontColor) !important;
	border-radius: 50%;
	align-self: center;
	margin: 0 !important;
	padding: 1rem !important;
	max-width: 4rem !important;
	max-height: 4rem !important;
	aspect-ratio: 1 / 1;
  }
}
.CardPricing {
  background: rgba(173, 216, 204, 0.31);
	display: block;
  header {
	margin-bottom: 1rem !important;
  }
  	& * {
	  margin: 0 !important;
	}
  	grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  [data-variant="icon"] {
	grid-row: 1/3;
	display: flex;
	object-position: center center;
	align-items: center;
	justify-content: center;
	background-color: var(--fontColor) !important;
	border-radius: 50%;
	align-self: center;
	margin: 0 !important;
	padding: 1rem !important;
	max-width: 4rem !important;
	max-height: 4rem !important;
	aspect-ratio: 1 / 1;
  }
}

.cardcontactsheader {

}
