@import "./layout.scss";
@import "./vars.scss";
@import "./pages.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
//
//@media (prefers-color-scheme: dark) {
//  :root {
//    --background: #0a0a0a;
//    --foreground: #ededed;
//  }
//}

body {
  color: var(--fontColor);
  background: var(--background);
  font-family: var(--font-geist-sans), sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  min-height: 100vh;
}
p, ul {
  margin: 1rem 0;
}
li {
  margin: .75rem 0;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 32px;
  margin: 2.5rem 0 1.75rem;
}
h4 {
  font-size: 24px;
  margin: 1.75rem 0 1.125rem;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-geist-mono), sans-serif;
  font-weight: 600;
  color: #03414c;
  word-break: break-word;
  margin-bottom: 15px;
}
article {
  ul {
    list-style: revert;
    margin: revert;
    padding: revert;
    padding-left: 1.75rem;
  }
  li {
    &::marker {

    }

    margin: revert;
    padding: revert;
  }
}
blockquote {
  margin: 0 0 1rem;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  //width: 80%;
  max-width: 500px;
  min-width: 20rem;
  height: auto;
  //max-height: 500px;
  border: none;
  border-radius: 12px;
  background-color: white;
  padding: 3rem 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //font-size: 48px;
  //font-weight: 500;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 15px; /* Circular shape */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px; /* Adjust font size as needed */
}

.close-button:hover {
  background-color: #eee;
}

.close-button:after {
  content: 'x';
  color: black;
}
#modal-root:has(*) + div {
  position: fixed;
  @screen desktop {
    padding-right: 18px;
  }
}
.card_modal {
  min-width: 30rem;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  background: white;
}
.backdrop {

}
