.Header {
  position: relative;
  min-height: 4.25rem;
  @apply flex;
  justify-content: space-between;
  @screen tablet-max {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  @screen tablet {
	grid-column: 2/-2;
  }

  @screen desktop {
	grid-column: 2/-2;
  }
  a {
	@apply flex;
  }
}

.burger {
  align-self: center;
  width: 1.5rem;
  height: 1.5rem;
  grid-column: -2;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  display: none;
  @screen desktop-max {
    display: block;
    cursor: pointer;

    //top: 50%;
    //transform: translateY(-50%);
    width: 16px;
    height: 14px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #03414c;
      border-radius: 2px;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      position: absolute;
      left: 0;
    }
    span:nth-child(1) {
      top: 0
    }

    span:nth-child(2) {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%)
    }

    span:nth-child(3) {
      bottom: 0
    }

    &[class*="active"] span {
      top: 6px
    }

    &[class*="active"] span:nth-child(2) {
      opacity: 0
    }

    &[class*="active"] span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg)
    }

    &[class*="active"] span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg)
    }
  }
}
.menuLink {
  font-size: 16px;
  text-decoration: none;
  transition: color .2s ease;
  letter-spacing: normal;
  padding: 0;
  border-bottom: 0;
  &:hover {
    text-decoration: underline;
    color: #29808d;
  }
}
.cta {

  align-items: center;

  a {
    color: #00414c;
    background-color: #add8cc;
    font-size: 13px;
    padding: 6px 10px;
    border-radius: 18px;
    text-decoration: none;
    border-bottom: none;

  }
  li:nth-child(2) {
    a {
      color: #fff;
      background-color: #29808d;
      margin-left: 7px;
    }
  }
}
.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  transition: all .25s ease-in-out;
  left: 0;
  background: #00000045;
  z-index: 5;
  transform: translateX(-150vw);
  backdrop-filter: blur(8px);
  transform-origin: center center;
  &[data-open="true"] {
    transform: translateX(0);
    transition: all .25s ease-in-out;
  }
}
.drawer {
  @screen desktop {
    display: none;
  }
  transition: .25s ease-in-out;
  &:before {
    content: "";
  }
  &[data-open="true"] {
    padding-top: 5rem;
    ul:first-of-type {
      display: block;
      margin: 1.5rem;
      li {
        margin: 1rem 0;
        a {
          color: white;
          font-family: var(--font-geist-sans), sans-serif;
          font-weight: 400;
          font-size: 1.5rem;
        }
      }
    }

    ul:last-of-type {
      display: flex;
      margin: 1.5rem;
    }

  }
  &[data-open="false"] {
    transform: translateX(-20rem);
    transition: .25s ease-in-out;
  }
  display: block;
  position: fixed;
  left: 0;
  width: 20rem;
  bottom: 0;
  top: 0;
  z-index: 10;
  background: var(--fontColor);
}

.logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}

.logodrawer {
  display: block;
  margin: -3.5rem 1.5rem 4.5rem;
}
